/*
Fonts
Jost - Light 300
Jost - Regular 400
Jost - Medium 500
Jost - Bold 700
Cormorant Garamond - Regular
La Belle Aurore - Regular


Dark Pink - #C59486
Light Pink - #DEC2BA
Off white - #F1F0EF
Black - #231F20

arrows
<i class="fa-solid fa-arrow-right-long"></i>
<i class="fa-solid fa-arrow-left-long"></i>
*/

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  color: #231f20;
}

img {
  max-width: 100%;
  height: auto;
}

/* Override default gridlex padding */
[class*="col"] {
  padding: 0;
}
[class*="grid"] {
  margin: 0;
}

section {
  position: relative;
} /* find out why we use this , probably explained somewhere in the laster videos */

/* Utility Styles */
/* ------ Container Height ----- */

.tall-50 {
  min-height: 50vh;
}
.tall-60 {
  min-height: 60vh;
}
.tall-70 {
  min-height: 70vh;
}
.tall-80 {
  min-height: 80vh;
}
.tall-90 {
  min-height: 90vh;
}
.tall-100 {
  min-height: 100vh;
}

/* ------ Padding Utility Classes ------ */
.padded {
  padding: 5%;
}

.padded-sm {
  padding: 2.5%;
}
.padded-md {
  padding: 5%;
}
.padded-lg {
  padding: 10%;
}

.padded-0 {
  padding: 0;
} /* gridlex automatically adds 2% padding around the left, bottom and right to their columns */
.padded-05 {
  padding: 0.5rem;
}
.padded-1 {
  padding: 1rem;
}
.padded-2 {
  padding: 2rem;
}

.padded-t-15 {
  padding-top: 15px;
}

.padded-t-0 {
  padding-top: 0;
}

.padded-b-0 {
  padding-bottom: 0;
}
.padded-b-1 {
  padding-bottom: 1rem;
}

.padded-b-2 {
  padding-bottom: 2rem;
}

.padded-b-4 {
  padding-bottom: 4rem;
}
/* ----- Margin Utility Classes ----- */

.margin-t {
  margin-top: 5%;
}
.margin-b {
  margin-bottom: 5%;
}
.margin-l {
  margin-left: 5%;
}
.margin-r {
  margin-right: 5%;
}

.margin-t-05 {
  margin-top: 0.5rem;
}
.margin-b-05 {
  margin-bottom: 0.5rem;
}
.margin-l-05 {
  margin-left: 0.5rem;
}
.margin-r-05 {
  margin-right: 0.5rem;
}

.margin-t-1 {
  margin-top: 1rem;
}
.margin-b-1 {
  margin-bottom: 1rem;
}
.margin-l-1 {
  margin-left: 1rem;
}
.margin-r-1 {
  margin-right: 1rem;
}

/* Reusable Utility Classes */

/* Container shapes */
.arch {
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  width: 500px;
  height: 700px;
}

.shape-window {
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
}

/* Background Images */
/* To be applied to every single background image unless they're overwritten elsewhere.*/
.bg-image {
  background-color: #c59486;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-logo-banner {
  background-image: url("/images/r-r-banner.jpg");
}

.bg-jade-1 {
  background-color: #c59486;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/jade-roast-roam.png");
}

.bg-colosseum {
  background-color: #c59486;
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-image: url("/images/braden-collum-the-colosseum-rome-italy.jpg");
}

.bg-mosque {
  background-color: #c59486;
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-image: url("/images/dan-freeman-sheikh-zayed-grand-mosque-abu-dhabi-uae.jpg");
}

.bg-split {
  background-color: #c59486;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/split-background.jpg");
}

.bg-shadows {
  background-color: #c59486;
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-image: url("/images/shadows.jpg");
}
/* stacking images */

/* background styles */

.bg-pink {
  background-color: #dec2ba;
  color: white;
}

.bg-light {
  background-color: #f1f0ef;
}

/* Typography Styles */

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-family: "Catamaran", serif;
  font-weight: 300;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

p,
li {
  line-height: 1.4;
  margin-bottom: 1rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 1.4rem;
}

h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.catamaran {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
}

.button {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid;
  color: #ffffff;
  background-color: #c59486;
  border-color: #c59486;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  transition: 0.2s;
}

.button:hover {
  color: #c59486;
  background-color: white;
}

.cursive {
  font-family: "La Belle Aurore", cursive;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.5rem;
}

.dark-pink {
  padding-top: 5%;
  color: #c59486;
}

.white-text {
  color: #f1f0ef;
}

header a {
  font-size: 1.2rem;
}

header a:hover {
  font-weight: 600;
  color: #c59486;
}
footer a:hover {
  border-bottom: 1px solid;
  color: inherit;
}

.inline {
  display: inline;
}
.inline a {
  display: inline-block;
  padding: 0.5rem;
}

/* Text Size */

.text-sm {
  font-size: 1.5rem;
}
.text-lg {
  font-size: 3.5rem;
}
.text-xl {
  font-size: 4.5rem;
}
.text-xxl {
  font-size: 8.5rem;
}
.text-bold {
  font-weight: bold;
}

.fab {
  font-size: 1.5rem;
}
/* Text Align */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* Custom Classes */

/* position a text div */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-center-right {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* nav bar custom classes*/
.logo {
  height: 44px;
  position: absolute;
  top: 10px;
  left: 5px;
}

/* Slider styles */

.testimonial-slider-container {
  padding: 0;
  max-width: 70%;
  margin: auto;
}

.slider-item {
  padding: 1rem;
}

.slick-track {
  margin: 0;
}

.slider-item:nth-child(odd) {
  padding: 1rem;
}

/* .slick-next {
  right: 8px;
}

.slick-prev {
  left: 8px;
} */

.slick-dots {
  bottom: 12%;
  left: 0; /* This align the dots perfectly to the center, do not delete */
}

.slick-dots li,
.slick-dots li button {
  width: 10px;
}

.slick-dots li button::before {
  font-size: 12px;
}
/* .slick-next::before,
.slick-prev::before {
  font-family: "inherit";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #c59486;
} */

.slick-dots {
  width: 7px;
}

/* Slider typography styles */
.author {
  font-size: 0.9rem;
  color: #c59486;
  margin-top: 0.5rem;
  font-style: italic;
  text-align: right;
}

.quote-icon {
  font-size: 6rem;
  color: #c59486;
  margin: auto;
}

.testimonial-slider-container p {
  margin-bottom: 1rem;
}

.slider-item p {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

/* Show/Hide elements */
.hide {
  display: none;
}

/* --------- MEDIA QUERIES --------- */
/* Testimonial Media Queries */
/* Justified big text can look a bit jarring on small browser width but  introducing a media query allows you to change the text size and alignment */
@media (max-width: 48em) {
  .slider-item p {
    text-align: left;
    font-size: 1.2rem;
  }
}
