/* ====== STYLES ====== */

:root {
  /* --dark: #c59486;
  --medium: #dec2ba;
  --light: #f1f0ef;
  --dark-text: #231f20;
  --light-text: #ffffff;
  --featured-text: #c59486; */
  --serif: "Cormorant Garamond", serif;
  --heading: "Catamaran", sans-serif;
  --cursive: "La Belle Aurore", cursive;
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--serif);
  font-weight: 300;
  color: var(--dark-text);
  padding-top: 3.5em;
  margin: 0px;
}

header {
  height: 4em;
  position: fixed;
  width: 100.5%;
  top: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

nav {
  width: 100%;
  font-family: var(--heading);
  font-weight: 300;
}

header nav a:hover {
  color: var(--dark);
}

.hover-black:hover {
  color: var(--dark-text);
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
} /* /* We use this so the semi-transparent overlays stay on top of the correct bg-image banner */

/* Override default gridlex styles */
[class*="col"],
[class*="col-"],
[class*="col_"],
[class~="col"] {
  padding: 0;
}
[class*="grid"] {
  margin: 0;
}

/* Utility Styles */
/* ------ Container Height ----- */

.tall-50 {
  min-height: 50vh;
}
.tall-60 {
  min-height: 60vh;
}
.tall-70 {
  min-height: 70vh;
}
.tall-80 {
  min-height: 80vh;
}
.tall-100 {
  min-height: 100vh;
}

/* ------ Padding Utility Classes ------ */
.padded {
  padding: 5%;
}

.padded-lg {
  padding: 10%;
}

.padded-05 {
  padding: 0.5rem;
}
.padded-1 {
  padding: 1rem;
}
.padded-2 {
  padding: 2rem !important;
}

.padded-4 {
  padding: 4rem;
}

.padded-t-15 {
  padding-top: 15px;
}

.padded-l-r {
  padding-left: 4rem;
  padding-right: 4rem;
}

.padded-l-r-2 {
  padding-left: 5%;
  padding-right: 5%;
}

/* ----- Margin Utility Classes ----- */

.margin-t-05 {
  margin-top: 1.2rem;
}

.h4-space {
  margin-top: 1.2rem;
  padding-top: 1.2rem;
}

.margin-t-h2 {
  margin-top: 1.2rem;
}

/* Reusable Utility Classes */

/* Background Images */
/* To be applied to every single background image unless they're overwritten elsewhere.*/
.bg-image {
  background-color: var(--dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shape-window {
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
}

.bg-shadows {
  background-position: 50% 40%;
  background-image: url("/images/banners/shadows.jpg");
}

/* Home page banner images */
.bg-colosseum {
  background-position: 50% 40%;
  background-image: url("/images/banners/braden-collum-the-colosseum-rome-italy.jpg");
}

.bg-hotair-balloons {
  background-position: 50% 95%;
  background-image: url("/images/banners/ian-dooley-hotair-balloons-albuquerque.jpg");
}

/* about page banner images */
.bg-greece-1 {
  background-image: url("/images/banners/anthony-delanoix-greece.jpg");
}

.bg-mexico {
  background-image: url("/images/banners/cabo-san-lucas-mexico.jpg");
}

.bg-portugal {
  background-image: url("/images/banners/porto-portugal.jpg");
}

.bg-travel-flatlay {
  background-image: url("/images/banners/ian-dooley-travel-flatlay.jpg");
}

.bg-hot-springs {
  background-image: url("/images/banners/spencer-davis-saturnia-hot-springs-italy.jpg");
}

.bg-mountain {
  background-image: url("/images/banners/innsbruk-tirol-austria.jpg");
}

/* dark semi-transparent overlay */
/* ensures that all direct children of elements with the class "bg-overlay" are positioned relative to their normal flow and have a higher stacking order compared to their siblings within the same parent. */
.bg-overlay > * {
  z-index: 2;
  position: relative;
}

.bg-overlay::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* mid semi-transparent overlay */
.bg-overlay-mid > * {
  z-index: 2;
  position: relative;
}

.bg-overlay-mid::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

/* light semi-transparent overlay */
.bg-overlay-light > * {
  z-index: 2;
  position: relative;
}

.bg-overlay-light::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-logo-banner {
  background-image: url("/images/r-r-banner.jpg");
}

/* Coloured backgrounds */

.bg-medium {
  background-color: var(--medium);
  color: var(--light-text);
}

.bg-light {
  background-color: var(--light);
}

/* Typography Styles */

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-family: var(--heading);
  font-weight: 300;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

p,
li {
  line-height: 1.4;
  margin-bottom: 1rem;
  font-family: var(--serif);
  font-weight: 300;
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
  color: inherit;
  margin-left: 2rem;
}

ul li:before {
  content: "\2013";
  position: absolute;
  margin-left: -15px;
}

h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.button {
  font-family: var(--heading);
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  color: var(--light-text);
  background-color: var(--dark);
  border-color: var(--dark);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  transition: 0.2s;
  margin-top: 2rem;
}

.button:hover {
  color: var(--dark);
  background-color: white;
}

.cursive {
  font-family: var(--cursive);
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.5rem;
}

#no-underline {
  border: none;
}

.light-text {
  color: var(--light-text);
}

.featured-text {
  color: var(--featured-text);
}

header a {
  font-size: 1.2rem;
}

footer a:hover {
  border-bottom: 1px solid;
  color: inherit;
}

/* Text Size */
.text-md {
  font-size: 2.5rem;
}

.text-lg {
  font-size: 3.5rem;
}

.fab {
  font-size: 1.5rem;
}
/* Text Align */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* ========= CUSTOM CLASSES ========= */

/* nav bar custom classes*/
.logo {
  height: 2.5rem;
  position: absolute;
  top: 0.75rem;
  left: 1rem;
}

/* Flex Flip */
/* .flex-flip {
  flex-flow: row-reverse wrap;
} */

/* Testimonial Slider styles*/

.testimonial-slider-container {
  padding: 0;
  max-width: 70%;
  margin: auto;
  align-items: center;
}

.slider-item {
  padding: 1rem;
}

.slick-track {
  margin: 0;
}

.slider-item:nth-child(odd) {
  padding: 1rem;
}

/* Slider typography styles */
.author {
  font-size: 0.9rem;
  color: var(--dark);
  margin-top: 0.5rem;
  font-style: italic;
  text-align: right;
}

.quote-icon {
  font-size: 6rem;
  color: var(--dark);
  margin: auto;
}

.testimonial-slider-container p {
  margin-bottom: 1rem;
}

.slider-item p {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Image gallery slider styles */
/* Slider classes */
.image-slider-container {
  padding: 0;
}

.image-slider-item {
  padding: 0;
  display: none;
}

.image-slider-item:first-child {
  display: block;
}

/* Contact and Enquiry Form */
form {
  width: 100%;
  font-family: var(--heading);
}

form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid var(--medium);
  outline: none;
  font-family: var(--heading);
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: var(--dark);
}

textarea {
  min-height: 8rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: var(--dark-text);
  letter-spacing: 0.05rem;
}

select {
  width: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: var(--heading);
  font-weight: 300;
  font-size: 0.9rem;
  outline: 0;
  background-color: #fff;
  color: var(--dark-text);
  padding: 0.65rem;
}

#contact {
  scroll-margin-top: 5rem;
}

/* Sticky Navbar */
.scroll-down {
  header {
    transform: translate3d(0, -100%, 0);
  }
}

.scroll-up {
  header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  }
}

.menu-is-open {
  overflow: hidden;

  header {
    filter: none;
  }
}

#irp-localnav {
  position: sticky;
  top: 0;
  transform: translate3d(0px, 0px, 0px); /* Add this line */
}

/* Hamburger Menu */
/* link to codepen for nicer looking hamburger menu */
.hamburger-button {
  color: var(--dark);
  cursor: pointer;
  padding: 0 0.5rem;
  display: inline-block;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 0.8;
  margin-top: -1.7rem;
  position: fixed;
  right: 1rem;
  top: 2.5rem;
  z-index: 2;
}

.hamburger-button.active {
  color: var(--light-text);
}

.mobile-menu {
  display: none;
  background-color: var(--medium);
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.mobile-menu a {
  text-decoration: none;
  color: inherit;
  padding: 5vh 5%;
  display: block;
  font-weight: normal;
  font-size: 1.5rem;
}

/* Show/Hide elements */
.hide {
  display: none;
}

/* ========== Service Fees ========== */

.faq {
  max-width: auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fdfdfd;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  align-items: center;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: height 1.2s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active .answer {
  max-height: none;
  animation: fade 1s ease-in-out;
  transition: height 2s ease;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
  flex-shrink: 0;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* --------- MEDIA QUERIES --------- */
/* Testimonial Media Queries */
/* Justified big text can look a bit jarring on small browser width but  introducing a media query allows you to change the text size and alignment */
/* @media screen and (min-width: 1024px) {
  .slider-item p {
    text-align: center;
    font-size: 1.2rem;
  }
} */

/* ---------- Default responsive styles (desktop and below) */
.mob-show {
  display: none;
}

/* @media (max-width: 1176px) {
  .mob-hide {
    display: none !important;
  }
  .mob-show {
    display: block;
  }
} */

@media (max-width: 1057px) {
  .mob-hide {
    display: none !important;
  }
  .mob-show {
    display: block;
  }

  .flex-flip-md {
    flex-direction: column-reverse !important;
  }

  footer {
    text-align: center;
  }

  .right {
    text-align: unset;
  }

  .tall-80,
  .tall-70 {
    min-height: 50vh;
  }

  .tall-60 {
    min-height: 40vh;
  }

  .tall-50 {
    min-height: 30vh;
  }
  .center-md {
    align-items: center;
    text-align: center;
  }

  .left-md {
    text-align: left;
  }
}

@media (max-width: 809px) {
  .mob-hide {
    display: none !important;
  }
  .mob-show {
    display: block;
  }

  .flex-flip-sm {
    flex-direction: column-reverse !important;
  }

  footer {
    text-align: center;
  }

  .right {
    text-align: unset;
  }

  .tall-80,
  .tall-70 {
    min-height: 50vh;
  }

  .tall-60 {
    min-height: 40vh;
  }

  .center-sm {
    align-items: center;
    text-align: center;
  }
}
