<section class="grid-middle bg-image bg-shadows tall-50  white-text bg-overlay padded">
    <div class="col-12-middle center ">
      <h3 class="uppercase">Book an appointment with me</h3>
      <p>Plan your dream getaway with Roast & Roam. Book your appointment now for personalised </br> travel experiences crafted just for you. Let's make memories together!</p>
      <a href="https://outlook.office.com/bookwithme/user/d1c9709c3a9b494ba67dffef2fa6f3a6@roastandroam.com.au?anonymous&ep=plink" class="button">Book here!</a>
    </div>
    </section>