<div class="col-3_md-6_sm-12">
    <a href="/index.html" id="no-underline"><img src="/images/rr-footer-logo.webp" alt=""></a>
    <h3 class="cursive center padded-t-15">the world is yours</h3>
    <p>Where every journey is as unique as your next destination.</p>
    <nav class="inline socials">
      <a href="https://www.facebook.com/roastandroam target=_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/roastandroam_jadegarlick/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/jade-garlick-roastandroam/" target="_blank">
        <i class="fab fa-brands fa-linkedin"></i>
      </a>
    </nav>
  </div>
  
  <div class="col-3_md-6_sm-12-middle">
    <nav>
      <h3 class="uppercase">Links</h>
      <p><a href="/about.html">About</a></p>
      <p><a c href="/services.html">Services</a></p>
      <p><a class="hide" href="#">Partners</a></p>
      <p><a target="_blank" href="https://open.spotify.com/show/5gWXmRXimtUgHMMBRyJK3S">Podcasts</a></p>
      <p><a href="/about.html#contact">Contact</a></p>
      <p><a target="_blank" href="https://form.jotform.com/240381679169871">Terms & Conditions</a></p>
      <p><a target="_blank" href="/privacypolicy.html">Privacy Policy</a></p>
    </nav>
  </div>
  <div class="col-3_md-6_sm-12 right">
    <a class="travel-agent-finder"  id="no-underline" href="https://www.travelagentfinder.com.au/jade-garlick?from=badge"  title="Find me on Travel Agent Finder" target="_blank"><img src="https://ik.imagekit.io/59j8f9ha3l/AS/images/Logos/travel-agent-finder-member-australia.png" style="border: none;"/></a>
    <p>Sydney NSW, Australia</p>
    <p>+61 (0) 414 588 970</p>
    <p><a href="jade@roastandroam.com.  au">jade@roastandroam.com.au</a></p>
  

  </div>