<div class="col-6_sm-12-middle center-sm">
    <a href="/index.html">
        <img class="logo" src="/images/initials-logo.png" alt="logo"/>
      </a>
      </div>
    </a>
  </div>
  <nav class="col-6_sm-12-middle right padded uppercase">
    <a class="padded-05" href="about.html"> About </a>
    <a class="padded-05 hide" href="#services"> Services </a>
    <a class="padded-05 hide" href="#partners"> Partners </a>
    <a class="padded-05" target="_blank" href="https://open.spotify.com/show/5gWXmRXimtUgHMMBRyJK3S"> Podcast </a>
    <a class="padded-05" href="/about.html#contact"> Contact </a>
  </nav>