<div  class="grid col-6_sm-12-middle">
    <a href="/index.html">
        <img class="logo" src="/images/initials-logo.png" alt="logo"/>
      </a>
      </div>
    </a>
  <nav id="irp-localnav" class="col-6_sm-12-middle right padded mob-hide">
    <a class="padded-05 uppercase" href="about.html"> About </a>
    <a class="padded-05 uppercase hide" href="#services"> Services </a>
    <a class="padded-05 uppercase hide" href="#partners"> Partners </a>
    <a class="padded-05 uppercase" target="_blank" href="https://open.spotify.com/show/5gWXmRXimtUgHMMBRyJK3S"> Podcast </a>
    <a class="padded-05 uppercase" href="/about.html#contact"> Contact </a>
  </nav>



  
  <div class="col-7 right">
     <div class="hamburger-button right mob-show">MENU</div>
  </div>

  <div class="mobile-menu right">
    <nav>
      <a href="about.html"> About </a>
      <a href="#services"> Services </a>
      <a href="#partners"> Partners </a>
      <a
        target="_blank"
        href="https://open.spotify.com/show/5gWXmRXimtUgHMMBRyJK3S"
      >
        Podcast
      </a>
      <a href="/about.html#contact"> Contact </a>
    </nav>
  </div>
 