<div class="col-5">
  <a href="/index.html">
    <img class="logo" src="/images/initials-logo.png" alt="logo" />
  </a>
</div>
<nav id="irp-localnav" class="col-7-middle right padded mob-hide">
  <a class="padded-05 uppercase" href="/about.html"> About </a>
  <a class="padded-05 uppercase mob" href="/services.html"> Services </a>
  <a class="padded-05 uppercase hide" href="#partners"> Partners </a>
  <a
    class="padded-05 uppercase"
    target="_blank"
    href="https://open.spotify.com/show/5gWXmRXimtUgHMMBRyJK3S"
  >
    Podcast
  </a>
  <a class="padded-05 uppercase" href="/about.html#contact"> Contact </a>
  <a
    class="padded-05 uppercase featured-text hover-black"
    href="https://outlook.office.com/bookwithme/user/d1c9709c3a9b494ba67dffef2fa6f3a6@roastandroam.com.au?anonymous&ep=plink"
    target="_blank"
  >
    Book an appointment
  </a>
</nav>
<!------------ MOBILE MENU ------------>
<div class="col-7 right">
  <a class="hamburger-button mob-show"> &#9776; </a>
</div>
<div class="mobile-menu">
  <nav>
    <a class="padded-05 uppercase" href="/index.html"> Home </a>
    <a class="padded-05 uppercase" href="/about.html"> About </a>
    <a class="padded-05 uppercase" href="/services.html"> Services </a>
    <a class="padded-05 uppercase mob-hide" href="#partners"> Partners </a>
    <a
      class="padded-05 uppercase"
      target="_blank"
      href="https://open.spotify.com/show/5gWXmRXimtUgHMMBRyJK3S"
    >
      Podcast
    </a>
    <a class="padded-05 uppercase" href="/about.html#contact"> Contact </a>
    <a
      class="padded-05 uppercase"
      href="https://outlook.office.com/bookwithme/user/d1c9709c3a9b494ba67dffef2fa6f3a6@roastandroam.com.au?anonymous&ep=plink"
      target="_blank"
    >
      Book an appointment
    </a>
  </nav>
</div>
