<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <!-- Header -->
  <header class="grid-middle bg-light padded-1">
    {% include inline-styles.html %} {% include site-header.html %}
  </header>

  <body>
    {{ content }}

    <footer class="grid-spaceBetween-top bg-medium padded">
      {% include site-footer.html %}
    </footer>
    <!-- Created by Meltem Studio -->
    <section class="grid bg-medium">
      <div class="col-12-middle center">
        Created by
        <a class="underline" href="https://www.instagram.com/meltem.studio">
          Meltem Studio</a
        >
        &#169; 2024
      </div>
    </section>
    <!-- This links to a jQuery file from a Content Delivery Network (recommended) -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- This links to a jQuery file from a Content Delivery Network (recommended) -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
      integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
